apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-hello
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-hello
  template:
    metadata:
      labels:
        app: nginx-hello
    spec:
      containers:
        - name: nginx
          image: nginx:stable
          ports:
            - containerPort: 80
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo 'hello world' > /usr/share/nginx/html/index.html &&
              nginx -g 'daemon off;'

